.home-page-container {
	display: flex;
	justify-content: center;
}

.left-card-margin {
	margin-left: 2%;
}

.cards-container {
	display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;

}

.cards-container-row {
	display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.card-picture {
	margin-left: 16px;
    margin-top: 35px;
    margin-right: 10px;
}

.grey-subheader {
	color: rgb(169,169,169);
}

.card-picture-one-line {
	margin-left: 16px;
    margin-top: 25px;
    margin-right: 10px;
}

.skill-image {
	width: 250px;
	height: 250px;
}

.skill-card {
	margin-left: 10px;
	margin-right: 10px;
	height: 350px;
}

.about-me-card {
	display: flex;
	flex-wrap: wrap;
}